h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 25px;}p,a{font-size: 18px;}ul{list-style: square;}img{width: 100%;}
a{color: white;text-decoration: none;}input{all: unset;background: black;font-size: 18px;border: 1px solid white;width: 180px;}
button{all: unset;background-color: black;color: white;font-size: 18px;border: 1px solid white;}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospac;
    
}