h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 25px;}p,a{font-size: 18px;}ul{list-style: square;}img{width: 100%;}
a{color: white;text-decoration: none;}

.Grid-Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;


    /* grid-column-start: 1;
    grid-column-end: 4; */
}

.Grid-item{
    text-align: left;
    border: black solid;
    border-radius: 10px;
}

.Grid-item-1{background: rgb(103, 192, 243);
    grid-column: 1/4;
}
.Grid-item-2{background: rgb(61, 176, 243);
    grid-column: 1/3;
}
.Grid-item-3{background: rgb(32, 113, 160);
    grid-column: 3/4;
}
.Grid-item-4{background: rgb(51, 74, 207);
    grid-column: 1/3;  
}
.Grid-item-5{background: rgb(37, 62, 202);
    grid-column: 3/4;   
}
.Grid-item-6{background: rgb(39, 158, 68);
    grid-column: 1/4;
}


.Grid-item-7{background: rgb(27, 138, 54);}
.Grid-item-8{background: rgb(158, 46, 46);}
.Grid-item-9{background: rgb(148, 19, 19);}
.Grid-item-10{background: rgb(194, 231, 30);}