h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 25px;}p,a{font-size: 21px;}ul{list-style: square;}img{width: 100%;}

body
{
  margin: 0;
  background: rgb(68, 125, 199);
  /*font stuff*/
  line-height: 1.5;
  color: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
}

.Header{
  background: rgb(27, 99, 194);
  text-align: center;
  padding: 1%;
}

.Footer{
  background: rgb(27, 99, 194);
  padding: 1%;
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0;
}

.OuterBox{
  background: rgb(27, 99, 194);
  width: 60%;
  /*padding*/
  padding: 1%;
  /*Margin*/
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  border-radius: 10px;
}

.InnerBox{
  background: rgb(68, 125, 199);
  color: rgb(255,255,255);
  /*padding*/
  padding: 1%;
  /*Margin*/
  margin: auto;
  margin: 1%;
  /*Border*/
  border-radius: 10px;
}

.CMDBox{
  background: rgb(0, 0, 0);
  width: 60%;
  color: rgb(37, 243, 18);
  /*padding*/
  padding-left: 1%;
  padding-top: 1%;
  /*Margin*/
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  border-radius: 8px;
}
.CMDBox p{
  font-size: 15px;
}