h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 25px;}p,a{font-size: 21px;}ul{list-style: square;}img{width: 100%;}
a{color: white;text-decoration: none;}

body{
  margin: 0;
  padding: 0;
  background: #003367;
  /*font stuff*/
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.Header{
  background: #2f3133;
  text-align: center;
  width: 100%;
  padding: 1%;
  margin-bottom: 5%;
  border-bottom: solid 10px #1e2529;
}

.Footer{
  background: #00224e;
  padding: 1%;
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0;
  
}

.Navigation{
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin: auto;
}

.Navigation a{
  padding-left: 1%;
  padding-right: 1%;
}

.Navigation a:hover{
  background-color: rgb(255 , 255, 255, 0.1);
  border-radius: 10px;
}