h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 25px;}p,a{font-size: 16px;}ul{list-style: square;}

a{
  color: #356fec;
  text-decoration: none;
}

body
{
  margin: 0;
  background: #e2e2e2;
  /*font stuff*/
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 85%;
    margin: auto;
}

.cabeca
{
  background: #b1b1b1;
  text-align: center;
  padding: 1%;
  border-bottom: 10px solid #7f7f7f;
}

.GenericTitle
{
  background: #ffffff;
  /*padding*/
  padding-left: 1%;
  padding-top: 1%;
  /*Margin*/
  margin: auto;
  margin-top: 1%;
  /*Border*/
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #7f7f7f;
  text-align: center;
}

.contentbox
{
  background: #ffffff;
  width: 60%;
  /*padding*/
  padding-left: 1%;
  padding-top: 1%;
  /*Margin*/
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  border-radius: 10px;
  box-sizing: border-box;
  border-bottom: 5px solid #7f7f7f;
  border-right: 5px solid #7f7f7f;
}

.Navigational{
  text-align: center;
}

.Navigational a{
  color: #000000;
  font-size: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

.Navigational a:hover {
    background-color: #181818;
    color: #ffffff;
  }

.rodape
{
  background: #b1b1b1;
  padding: 1%;
  text-align: right;
  border-top: 10px solid #7f7f7f;
}