ul{list-style: square;}pre{ white-space: pre-wrap;word-wrap: break-word;text-align: justify;word-break: break-all;}

body
{
  margin: 0;
  background: #e2e2e2;
  /*font stuff*/
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.MainContent
{
  background: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  /*Margin*/
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  width: 98%;
  box-sizing: border-box;
  border: 1px solid #7f7f7f;

}

.ImageBox
{
  background: #ffffff;
  width: auto;
  padding-left: 1%;
  padding-top: 1%;
  /*Margin*/
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  box-sizing: border-box;
  border: 1px solid #7f7f7f;
}

.CodeBox
{
  background: #1d1c1cea;
  color: rgb(23, 207, 115);
  width: 80%;
  padding-left: 1%;
  padding-top: 1%;
  /*Margin*/
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  /*Border*/
  box-sizing: border-box;
  border: 1px solid #000000;
}

.Responsive
{
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}